# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\DevSoftWare\IdeaProjects\statemachine\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
